# Task 1

In [ ]:
import pandas as pd

path = 'S_Data/'
endpoint = '.csv'

csvs = ['customers', 
        'geolocation', 
        'order_items', 
        'order_payments', 
        'order_reviews', 
        'orders', 
        'product_category_name_translation',
        'products',
        'sellers']
dfs = {}

for name in csvs:
    print(name.upper(),'\n\n')
    dfs[name] = pd.read_csv(path+name+endpoint)

#### To do

##### (done) english name, 
##### (done) average delivery time, 
##### (done) average delivery time from last 14 days,
##### (done) average product price,
##### (done) actual product price,
##### (done) sales from last 14 days, 
##### (done) total sale per seller from 14 days, 
##### reviews since products sale started, 
##### number of reviews added in 14 days, 
##### average fracht_val in past 14 days
##### get reviews in function same as other values in other df then merge dfs

### Code

#### 1. English name

In [2]:
dfs['products'].head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [3]:
dfs['product_category_name_translation'].head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [4]:
## get english category name

dfs['products'] = dfs['products'].merge(dfs['product_category_name_translation'],
                                        how = 'inner',
                                        on = 'product_category_name')

#### 2. Add missing delivery dates, get necessary date for subset

In [5]:
dfs['orders'].head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [6]:
dfs['orders']['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [7]:
## get only valid orders
dfs['orders'] = dfs['orders'].loc[(dfs['orders']['order_status'] != 'canceled') & 
                                  (dfs['orders']['order_status'] != 'unavailable')]

In [8]:
print(dfs['orders'].isna().sum())

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  19
order_delivered_carrier_date      624
order_delivered_customer_date    1737
order_estimated_delivery_date       0
dtype: int64

In [9]:
print(dfs['orders'].dtypes,
      '\n', 
      dfs['order_reviews'].dtypes)

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object
 review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [10]:
## merge dataframes for product id, price, number of ordered items, reviews
dfs['orders'] = dfs['order_items'].merge(dfs['orders'], on = 'order_id', how = 'right')
dfs['orders'] = dfs['orders'].merge(dfs['order_reviews'], on='order_id', how ='left')
dfs['orders'] = dfs['orders'].merge(dfs['products'], on = 'product_id', how = 'left')

In [11]:
dfs['orders']['order_purchase_timestamp'] = pd.to_datetime(dfs['orders']['order_purchase_timestamp'])
dfs['orders']['order_delivered_customer_date'] = pd.to_datetime(dfs['orders']['order_delivered_customer_date'])
dfs['orders']['review_creation_date'] = pd.to_datetime(dfs['orders']['review_creation_date'])

## fill nan values after grouping by product id so values are more reliable
dfs['orders'].sort_values(by='product_id', inplace=True)
dfs['orders']['order_delivered_customer_date'].ffill(inplace=True)

/var/folders/bz/m_9l75x14kz_37vfj8r34b2r0000gn/T/ipykernel_17079/1906626660.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfs['orders']['order_delivered_customer_date'].ffill(inplace=True)

In [12]:
## get order date, review date, delivery date and delivery time

dfs['orders']['purchase_year'] = dfs['orders']['order_purchase_timestamp'].dt.year
dfs['orders']['purchase_day'] = dfs['orders']['order_purchase_timestamp'].dt.dayofyear

dfs['orders']['review_year'] = dfs['orders']['review_creation_date'].dt.year
dfs['orders']['review_day'] = dfs['orders']['review_creation_date'].dt.dayofyear


dfs['orders']['delivery_year'] = dfs['orders']['order_delivered_customer_date'].dt.year
dfs['orders']['delivery_day'] = dfs['orders']['order_delivered_customer_date'].dt.dayofyear

## calculate delivery time (check if delivery and purchase were made in same year)
dfs['orders']['delivery_time'] = ((dfs['orders']['delivery_year'] - dfs['orders']['purchase_year'])*365 + 
                                 dfs['orders']['delivery_day'] - dfs['orders']['delivery_day'])

## if delivery and purchase years were different check if purchase year was leap
for index, row in dfs['orders'].iterrows():
    if row['purchase_year'] != row['delivery_year']:
        if row['purchase_year']%4 ==0 and row['purchase_year']%100 == 0 and row['purchase_year']%400 == 0:
            dfs['orders'].at[index, 'delivery_time'] += 1

#### 3.

In [13]:
## get data from 14 days
def is_leap(year):
    if year%4 == 0 and year%100 == 0 and year%400 == 0:
        return True
    else:
        return False

In [14]:
## get end of subset (check if it ends in following year)
def get_end(year, day_s, sub_size):
    
    if is_leap(year):
        if day_s > 366 - sub_size:
            day_e = 366 - day_s
            year_e = year + 1
        else:
            day_e = day_s + sub_size
            year_e = year
    else:
        if day_s > 365 - sub_size:
            day_e = 365 - day_s
            year_e = year + 1
        else:
            day_e = day_s + sub_size
            year_e = year
    return day_s, year

In [ ]:
def get_historical_data(dfs, day_end, year_end, column_gb):
    
    ## income from product per order
    dfs['orders']['incomes'] = dfs['orders']['order_item_id']*dfs['orders']['price']

    ## orders till end date
    orders_bef = dfs['orders'].loc[(dfs['orders']['purchase_year'] < year_end) |
                                   ((dfs['orders']['purchase_year'] == year_end) &
                                    (dfs['orders']['purchase_day'] < day_end))]
    ## df with orders before end day
    df_bef = orders_bef.groupby(column_gb).agg({'delivery_time': 'mean', 
                                                'price': 'mean', 
                                                'order_item_id': 'sum', 
                                                'incomes': 'sum',
                                                'freight_value': 'mean'}).reset_index()    
    ## df with orders per seller before end day 
    df_bef_per_seller = orders_bef.groupby([column_gb, 'seller_id']).agg({'delivery_time': 'mean', 
                                                                          'price': 'mean', 
                                                                          'order_item_id': 'sum',
                                                                          'incomes': 'sum',
                                                                          'freight_value': 'mean'}).reset_index()
    ## reviews since sale began
    review_bef = dfs['orders'].loc[(dfs['orders']['review_year'] < year_end) |
                                   ((dfs['orders']['review_year'] == year_end) &
                                    (dfs['orders']['review_day'] < day_end))]
    
    ## df with mean reviews score for each product category since it sales began
    df_bef_reviews = review_bef.groupby(column_gb)['review_score'].mean().reset_index()

    ## merging dataframes to get proper information about product
    df_before_start_day = df_bef.merge(df_bef_reviews, on = column_gb, how = 'left')
    df_before_start_day.rename(columns={'delivery_time': 'avg_delivery_time', 
                                        'price': 'avg_price',
                                        'order_item_id' : 'number_of_sold_items',
                                        'freight_value': 'avg_freight_val',
                                        'review_score': 'avg_review_score'},
                               inplace = True)
    
    ## merging dataframes with collected informations for each seller
    df_before_start_day_per_seller = df_bef_per_seller.merge(df_bef_reviews, on = column_gb, how = 'left')
    df_before_start_day_per_seller.rename(columns={'delivery_time': 'avg_delivery_time', 
                                        'price': 'avg_price',
                                        'order_item_id' : 'number_of_sold_items',
                                        'freight_value': 'avg_freight_val',
                                        'review_score': 'avg_review_score'},
                               inplace = True)

## at the end we have 2 dataframes: 
## 1st with product information since it sales began to start day
## 2nd with product information same as in 1st one but for each seller
    return(df_before_start_day, df_before_start_day_per_seller)

In [21]:
def get_subset_data(dfs, year, day_s, sub_size, column_gb):
    
    ##calculate end of subset
    day_e, year_e = get_end(year, day_s, sub_size)

    ## income from product per order
    dfs['orders']['incomes'] = dfs['orders']['order_item_id']*dfs['orders']['price']
    
    ## orders from start date to end date
    if year == year_e:
        orders_act = dfs['orders'].loc[(dfs['orders']['purchase_year'] == year) & 
                                       (dfs['orders']['purchase_day'] >= day_s) & 
                                       (dfs['orders']['purchase_day'] <= day_e)]
    else:
        orders_act = dfs['orders'].loc[((dfs['orders']['purchase_year'] == year) & 
                                        (dfs['orders']['purchase_day'] >= day_s)) |
                                       ((dfs['orders']['purchase_year'] == year_e) & 
                                        (dfs['orders']['purchase_day'] <= day_e))]
                                        
## each dataframe consists 
##    mean values: delivery time, price and freight value
##    sum values: incomes and number of ordered items

    ## df with orders from start date to end date
    df_act = orders_act.groupby(column_gb).agg({'delivery_time': 'mean', 
                                                   'price': 'mean', 
                                                   'order_item_id': 'sum', 
                                                   'incomes': 'sum',
                                                   'freight_value': 'mean'}).reset_index()
                                
## same information collected for each seller

    ## df with orders from start date to end date
    df_act_per_seller = orders_act.groupby([column_gb, 'seller_id']).agg({'delivery_time': 'mean', 
                                                                             'price': 'mean', 
                                                                             'order_item_id': 'sum',
                                                                             'incomes': 'sum',
                                                                             'freight_value': 'mean'}).reset_index()

    ## reviews added between start and end date 
    if year == year_e:
        review_act = dfs['orders'].loc[(dfs['orders']['review_year'] == year) & 
                                       (dfs['orders']['review_day'] >= day_s) & 
                                       (dfs['orders']['review_day'] <= day_e)]
    else:
        review_act = dfs['orders'].loc[((dfs['orders']['review_year'] == year) & 
                                        (dfs['orders']['review_day'] >= day_s)) |
                                       ((dfs['orders']['review_year'] == year_e) & 
                                        (dfs['orders']['review_day'] <= day_e))]

    ## df with mean reviews score value in time period from start to end date for each product 
    df_act_reviews = review_act.groupby(column_gb)['review_score'].mean().reset_index()

## merging dataframes to get proper information about product
    df_actual = df_act.merge(df_bef_reviews, on = column_gb, how = 'left')
    df_actual.rename(columns={'delivery_time': 'avg_delivery_time', 
                              'price': 'avg_price',
                              'order_item_id' : 'number_of_sold_items',
                              'freight_value': 'avg_freight_val',
                              'review_score': 'avg_review_score'},
                     inplace = True)                     

## merging dataframes with collected informations for each seller
    df_actual_per_seller = df_act_per_seller.merge(df_bef_reviews, on = column_gb, how = 'left')
    df_actual_per_seller.rename(columns={'delivery_time': 'avg_delivery_time', 
                                        'price': 'avg_price',
                                        'order_item_id' : 'number_of_sold_items',
                                        'freight_value': 'avg_freight_val',
                                        'review_score': 'avg_review_score'},
                               inplace = True)

## at the end we have 2 dataframes: 
## 1st with product information from start date to end date
## 2nd with product information same as in 1st one but for each seller
    return(df_actual, df_actual_per_seller)

In [ ]:
## calculate period of time for historical data
def period(day, year, year_start, day_start):
    if year == year_start:
        return day - day_start
    elif year - year_start == 1:
        if is_leap(year_start):
            return day + 366 - day_start
        else:
            return day + 365 - day_start
    else:
        if is_leap(year_start):
            days = 366 - day_start
        else:
            days = 365 - day_start
        for i in range(year-year_start-1):
            if is_leap(year_start+i+1):
                days+=366
            else:
                days+=365
        return days

In [ ]:
def add_dates_subset(df, day_s, year_s, sub_size):
    day_e, year_e = get_end(year, day_s, sub_size)
    df['start_day'] = day_start
    df['start_year'] = year_start
    df['time_period'] = sub_size
    df['end_day'] = day_e
    df['end_year'] = year_e
    return df

In [ ]:
def add_dates_historical(df, day_start, year_start, day_end, year_end):
    df['start_day'] = day_start
    df['start_year'] = year_start
    df['time_period'] = period(day_end, year_end)
    df['end_day'] = day_end
    df['end_year'] = year_end
    return df

In [22]:
subset_14(dfs, year_start, day_start+100, subset_size)

Empty DataFrame
Columns: [product_category, avg_delivery_time, avg_price, number_of_sold_items, incomes, avg_freight_val, avg_review_score]
Index: []

(                  product_category  avg_delivery_time   avg_price  \
 0                 air_conditioning         146.000000  170.709000
 1                            audio           0.000000   78.495000
 2                             auto          81.111111  156.472222
 3                             baby           0.000000  124.651818
 4                   bed_bath_table           0.000000   59.873750
 5           books_general_interest         365.000000  119.500000
 6                  books_technical         365.000000  267.000000
 7            computers_accessories         191.190476   66.634286
 8                   consoles_games          73.000000  388.226000
 9                       cool_stuff           0.000000  149.442857
 10             diapers_and_hygiene           0.000000  134.900000
 11                     electronics           0.000000  107.990000
 12          fashio_female_clothing           0.000000   54.900000
 13        fashion_bags_accessories           0.000000   46.662500
 14           fashion_male_clothing           0.000000   24.900000
 15                   fashion_shoes           0.000000   29.990000
 16                 fixed_telephony           0.000000  140.976000
 17                            food           0.000000   79.900000
 18                 furniture_decor          29.594595   86.587297
 19                    garden_tools           0.000000  271.976000
 20                   health_beauty          44.693878   92.848776
 21                      housewares           0.000000  107.255833
 22  industry_commerce_and_business           0.000000   89.900000
 23                    market_place         112.307692  100.476154
 24                office_furniture           0.000000  216.813333
 25                       perfumery           0.000000  166.520690
 26                        pet_shop           0.000000  172.420000
 27                  sports_leisure           0.000000  118.361765
 28                       telephony          40.555556   28.908889
 29                            toys           0.000000  171.104167
 30                   watches_gifts         146.000000  672.048000

     number_of_sold_items  incomes  avg_freight_val  avg_review_score
 0                   18.0  2935.29        19.782000          3.800000
 1                    2.0   156.99        13.020000          5.000000
 2                    9.0  1408.25        38.245556          2.857143
 3                   13.0  1510.97        13.307273          4.090909
 4                   16.0   757.77        15.948750          3.375000
 5                    1.0   119.50        25.040000               NaN
 6                    1.0   267.00        32.840000          1.000000
 7                   27.0  1627.32        16.227143          2.761905
 8                   10.0  3882.26        20.716000          3.400000
 9                    7.0  1046.10        27.254286          4.142857
 10                   1.0   134.90        16.090000          5.000000
 11                   1.0   107.99        11.800000          5.000000
 12                   1.0    54.90        14.730000          5.000000
 13                   9.0   398.20        16.210000          3.500000
 14                   1.0    24.90        10.960000          1.000000
 15                   1.0    29.99        10.960000          5.000000
 16                   5.0   704.88        13.914000          4.000000
 17                   1.0    79.90        16.330000          5.000000
 18                 112.0  7983.64        18.675000          3.575342
 19                   5.0  1359.88        21.062000          4.200000
 20                  56.0  4914.25        18.424694          3.208333
 21                  16.0  1816.67        21.289167          3.083333
 22                   5.0   449.50        18.490000          4.250000
 23                  29.0  2652.59        20.999231          4.538462
 24                   6.0  1300.88        47.778333          1.600000
 25                  33.0  5213.70        16.762069          4.310345
 26                   4.0   689.68        21.545000          4.250000
 27                  17.0  2012.15        28.153529          4.250000
 28                  10.0   300.08        13.512222          4.111111
 29                  26.0  4421.39        20.209583          3.666667
 30                   5.0  3360.24        21.560000          4.750000  ,
 Empty DataFrame
 Columns: [product_category, avg_delivery_time, avg_price, number_of_sold_items, incomes, avg_freight_val, avg_review_score]
 Index: [],
      product_category                         seller_id  avg_delivery_time  \
 0    air_conditioning  c7dcd301ecfe5ab7f778ac172cf74be7           0.000000
 1    air_conditioning  ed859002ad59dbf8cf3602696a6c3000         162.222222
 2               audio  5f0057b677eb963672bf05dfa3f16c34           0.000000
 3                auto  63b9ae557efed31d1f7687917d248a8d           0.000000
 4                auto  6cf476a4ca74498db55cbccdaa9dcfb6           0.000000
 ..                ...                               ...                ...
 161              toys  f5f2ab9bdb6b30c14c61be68c5ed37da           0.000000
 162              toys  fa40cc5b934574b62717c68f3d678b6d           0.000000
 163     watches_gifts  4d600e08ecbe08258c79e536c5a42fee         243.333333
 164     watches_gifts  522620dcb18a6b31cd7bdf73665113a9           0.000000
 165     watches_gifts  7e93a43ef30c4f03f38b393420bc753a           0.000000

        avg_price  number_of_sold_items  incomes  avg_freight_val  \
 0     299.990000                   1.0   299.99        19.010000
 1     156.344444                  17.0  2635.30        19.867778
 2      78.495000                   2.0   156.99        13.020000
 3      10.000000                   1.0    10.00        14.520000
 4     499.990000                   1.0   499.99        94.470000
 ..           ...                   ...      ...              ...
 161    71.945000                   2.0   143.89        20.185000
 162    49.900000                   1.0    49.90        24.840000
 163   643.780000                   3.0  1931.34        22.563333
 164    29.900000                   1.0    29.90        15.560000
 165  1399.000000                   1.0  1399.00        24.550000

      avg_review_score
 0            3.800000
 1            3.800000
 2            5.000000
 3            2.857143
 4            2.857143
 ..                ...
 161          3.666667
 162          3.666667
 163          4.750000
 164          4.750000
 165          4.750000

 [166 rows x 8 columns],
 Empty DataFrame
 Columns: [product_category, seller_id, avg_delivery_time, avg_price, number_of_sold_items, incomes, avg_freight_val, avg_review_score]
 Index: [])

In [17]:
year_start = dfs['orders'].sort_values(by='purchase_year')['purchase_year'].values[0]
day_start =  dfs['orders'].sort_values(by=['purchase_year', 'purchase_day'])['purchase_day'].values[0]

year_end =  dfs['orders'].sort_values(by='purchase_year', ascending = False)['purchase_year'].values[0]
day_end =  dfs['orders'].sort_values(by=['purchase_year', 'purchase_day'], 
                                     ascending = [False, False])['purchase_day'].values[0]
if day_end >= 7:
    day_end -= 7
else:
    year_end -= 1
    day_end = 365 + day_end - 7
    if is_leap(year_end):
        day_end += 1
    else:
        pass

offset = 0 # after how many subset collected  you want to start collecting historical data (from start day there wont be much data)
subset_size = 14
loop = 0
start = True
is_product_new = False


if is_product_new:
    column_groupby = 'product_id'
else:
    column_groupby = 'product_category_name_english'

data = pd.DataFrame()
data_per_seller = pd.DataFrame()

## go through all years and days, start parameter let start from proper day
for year in range(year_start, year_end +1):
    for day in range(0, 365):
        loop += 1
        if start:
            day = day_start
            start = False
            pass
        else:
            if (day >= day_end)&(year>=year_end):
                break
            else:
                actual, actual_per_seller = get_subset_data(dfs, year, day, subset_size, columns_groupby)
                actual = add_dates_subset(actual, day_start, year_start, subset_size)
                actual_per_seller = add_dates_subset(before_per_seller, day_start, year_start, subset_size)
                if loop == 1:
                    data = actual
                    data_per_seller = actual_per_seller
                else:
                    data = pd.concat([data, actual], ignore_index=True)
                    data_per_seller = pd.concat([data_per_seller, actual_per_seller], ignore_index=True)
                day = day + subset_size
                
historical, historical_per_seller =  get_historical_data(dfs, day_end, year_end, columns_groupby)
historical = add_dates_historical(historical, day_start, year_start, day_end, year_end)
historical_per_seller = add_dates_historical(historical_per_seller, day_start, year_start, day_end, year_end)
data = pd.concat([data, historical], ignore_index=True)
data_per_seller = pd.concat([data_per_seller, historical_per_seller], ignore_index=True)

end

### TIME FOR TRAIN AND TEST 
### ALSO CHECK IF NEW PRODUCT IF YES FIND SIMILIAR

# Task 2

In [102]:
import pandas as pd
import numpy as np

path = 'S_Data/'
endpoint = '.csv'

csvs = ['customers', 
        'geolocation', 
        'order_items', 
        'order_payments', 
        'order_reviews', 
        'orders', 
        'product_category_name_translation',
        'products',
        'sellers']
dfs = {}

for name in csvs:
    print(name.upper())
    dfs[name] = pd.read_csv(path+name+endpoint)

dfs['orders']['order_purchase_timestamp'] = pd.to_datetime(dfs['orders']['order_purchase_timestamp'])
# get english category name
dfs['products'] = dfs['products'].merge(dfs['product_category_name_translation'],
                                        how = 'inner',
                                        on = 'product_category_name')

CUSTOMERS
GEOLOCATION
ORDER_ITEMS
ORDER_PAYMENTS
ORDER_REVIEWS
ORDERS
PRODUCT_CATEGORY_NAME_TRANSLATION
PRODUCTS
SELLERS

In [103]:
## function filters data by date if necessary
def get_turnover(df, start_day, start_month, start_year, end_day, end_month, end_year):
    
    start_date = pd.Timestamp(year=start_year, month=start_month, day=start_day)
    end_date = pd.Timestamp(year=end_year, month=end_month, day=end_day)
    
    df_filtered = df[df['order_purchase_timestamp'].between(start_date, end_date)]
    
    return df

#### 1. the sellers with the biggest/smallest turnover

In [ ]:
# parameters

# select how many top sellers you want to see
top = 10

## select time period for turnover per seller
## if year parameters are 0 whole data frame will be used
start_day = 1
start_month = 1
start_year = 0
end_day = 1
end_month = 1
end_year = 0

In [32]:
turnover = dfs['orders'].merge(dfs['order_items'], on = 'order_id', how = 'left')

# get amount for each order
turnover['total_amount'] = turnover['order_item_id']*turnover['price'] + turnover['order_item_id']*turnover['freight_value']

if start_year !=0 and end_year !=0:
    turnover_df = get_turnover(turnover, start_day, start_month, start_year, end_day, end_month, end_year)
else:
    turnover_df = turnover

# get total incomes per seller
turnover_per_seller = turnover_df.groupby('seller_id')['total_amount'].sum().reset_index().sort_values(by='total_amount')
turnover_per_seller = turnover_per_seller.merge(dfs['sellers'], on = 'seller_id', how = 'left')  

if top < turnover_per_seller.size:
    print(f'top {top} sellers with biggest turnover: \n', turnover_per_seller.head(top), '\n')
    print(f'top {top} sellers with smallest turnover: \n', turnover_per_seller.tail(top))
else:
    print('sellers turnover: \n', turnover_per_seller)

top 10 sellers with biggest turnover:
                           seller_id  total_amount  seller_zip_code_prefix  \
0  cf6f6bc4df3999b9c6440f124fb2f687         12.22                    4937
1  77128dec4bec4878c37ab7d6169d6f26         15.22                    2610
2  4965a7002cca77301c82d3f91b82e1a9         16.36                   18074
3  702835e4b785b67a084280efca355756         18.56                   36046
4  ad14615bdd492b01b0d97922e87cb87f         19.21                   88704
5  3ac588cd562971392504a9e17130c40b         19.29                   13480
6  c1dde11f12d05c478f5de2d7319ad3b2         19.89                    1026
7  cc1f04647be106ba74e62b21f358af25         20.19                    2739
8  b5f0712d22a873b6797ab6cc65c3fcba         21.28                    2316
9  34aefe746cd81b7f3b23253ea28bef39         22.52                   81210

    seller_city seller_state
0     sao paulo           SP
1     sao paulo           SP
2      sorocaba           SP
3  juiz de fora           MG
4       tubarao           SC
5       limeira           SP
6     sao paulo           SP
7     sao paulo           SP
8     sao paulo           SP
9      curitiba           PR

top 10 sellers with smallest turnover:
                              seller_id  total_amount  seller_zip_code_prefix  \
3085  7e93a43ef30c4f03f38b393420bc753a     184320.77                    6429
3086  955fee9216a65b617aa5c0531780ce60     198078.49                    4782
3087  fa1c13f2614d7b5c4749cbc52fecda94     205775.24                   13170
3088  1f50f920176fa81dab994f9023523100     214499.35                   15025
3089  da8622b14eb17ae2831f4ac5b9dab84a     228418.57                   13405
3090  1025f0e2d44d7041d6cf58b6550e0bfa     240516.24                    3204
3091  4869f7a5dfa277a7dca6462dcf3b52b2     256418.18                   14840
3092  53243585a1d6dc2643021fd1853d8905     260379.81                   42738
3093  4a3ca9315b744ce9f8e9374361493884     266660.94                   14940
3094  7c67e1448b00f6e969d365cea6b010ab     375389.31                    8577

                seller_city seller_state
3085                barueri           SP
3086              sao paulo           SP
3087                 sumare           SP
3088  sao jose do rio preto           SP
3089             piracicaba           SP
3090              sao paulo           SP
3091                guariba           SP
3092       lauro de freitas           BA
3093               ibitinga           SP
3094        itaquaquecetuba           SP

#### 2. leaders/outsiders in sales in each area

In [94]:
# parameters

# select how many top sellers you want to see
top = 3

## select time period for turnover per seller
## if year parameters are 0 whole data frame will be used
start_day = 1
start_month = 1
start_year = 0
end_day = 1
end_month = 1
end_year = 0

# select categories you want to see leaders and outsiders in
# you can select one category as string or many as list
# if other type will be provided you will see leaders and outsiders for all categories
category = ['art', 'auto']

In [96]:
all_categories = sales_areas_df['product_category_name_english'].unique()
all_categories = all_categories.astype(str)
all_categories = np.sort(all_categories)
for el in all_categories:
    print(el)

agro_industry_and_commerce
air_conditioning
art
arts_and_craftmanship
audio
auto
baby
bed_bath_table
books_general_interest
books_imported
books_technical
cds_dvds_musicals
christmas_supplies
cine_photo
computers
computers_accessories
consoles_games
construction_tools_construction
construction_tools_lights
construction_tools_safety
cool_stuff
costruction_tools_garden
costruction_tools_tools
diapers_and_hygiene
drinks
dvds_blu_ray
electronics
fashio_female_clothing
fashion_bags_accessories
fashion_childrens_clothes
fashion_male_clothing
fashion_shoes
fashion_sport
fashion_underwear_beach
fixed_telephony
flowers
food
food_drink
furniture_bedroom
furniture_decor
furniture_living_room
furniture_mattress_and_upholstery
garden_tools
health_beauty
home_appliances
home_appliances_2
home_comfort_2
home_confort
home_construction
housewares
industry_commerce_and_business
kitchen_dining_laundry_garden_furniture
la_cuisine
luggage_accessories
market_place
music
musical_instruments
nan
office_furniture
party_supplies
perfumery
pet_shop
security_and_services
signaling_and_security
small_appliances
small_appliances_home_oven_and_coffee
sports_leisure
stationery
tablets_printing_image
telephony
toys
watches_gifts

In [72]:
sales_areas = dfs['orders'].merge(dfs['order_items'], on = 'order_id', how = 'left')
sales_areas = sales_areas.merge(dfs['products'], on = 'product_id', how = 'left')

if start_year !=0 and end_year !=0:
    sales_areas_df = get_turnover(sales_areas, start_day, start_month, start_year, end_day, end_month, end_year)
else:
    sales_areas_df = sales_areas

In [77]:
def print_data(data, category_name, top):
    if top < data.size:
        print(f'top {top} leaders with biggest turnover in category {category_name}: \n', data.head(top), '\n')
        print(f'top {top} outsiders with smallest turnover in category {category_name}: \n', data.tail(top))
        # possible to print every seller that sold the same amount of item if number of such sellers is bigger than top parameter
    else:
        print(f'sellers turnover in category {category_name}: \n', data)

In [101]:
turnover_per_category_seller = sales_areas_df.groupby(['product_category_name_english', 'seller_id'])['order_item_id'].sum().reset_index()
turnover_per_category_seller = turnover_per_category_seller.merge(dfs['sellers'], on = 'seller_id', how = 'left')  

if isinstance(category, list):
    for el in category:
        category_data = turnover_per_category_seller.loc[turnover_per_category_seller['product_category_name_english'] == el].sort_values(by='order_item_id', ascending= False)
        print_data(category_data, el, top)
        print('\n')
elif isinstance(category, str):
    category_data = turnover_per_category_seller.loc[turnover_per_category_seller['product_category_name_english'] == category].sort_values(by='order_item_id', ascending= False)
    print_data(category_data, category, top)

else:
    for el in all_categories:
        category_data = turnover_per_category_seller.loc[turnover_per_category_seller['product_category_name_english'] == el].sort_values(by='order_item_id', ascending= False)
        print_data(category_data, el, top)
        print('\n')

top 3 leaders with biggest turnover in category art:
     product_category_name_english                         seller_id  \
116                           art  c31eff8334d6b3047ed34bebd4d62c36
109                           art  a0e19590a0923cdd0614ea9427713ced
107                           art  955fee9216a65b617aa5c0531780ce60

     order_item_id  seller_zip_code_prefix           seller_city seller_state
116          111.0                   13322                 salto           SP
109           22.0                   83075  sao jose dos pinhais           PR
107           11.0                    4782             sao paulo           SP

top 3 outsiders with smallest turnover in category art:
     product_category_name_english                         seller_id  \
90                            art  0f94588695d71662beec8d883ffacf09
89                            art  0ddefe3c7a032b91f4e25b9c3a08fca1
121                           art  f593898ec748b7a8cb81fc04edafd98a

     order_item_id  seller_zip_code_prefix            seller_city seller_state
90             1.0                   88037          florianopolis           SC
89             1.0                    9721  sao bernardo do campo           SP
121            1.0                   13920               pedreira           SP


top 3 leaders with biggest turnover in category auto:
     product_category_name_english                         seller_id  \
376                          auto  8581055ce74af1daba164fdbd55a40de
204                          auto  16090f2ca825584b5a147ab24aa30c86
344                          auto  7142540dd4c91e2237acb7e911c4eba2

     order_item_id  seller_zip_code_prefix seller_city seller_state
376          489.0                    7112   guarulhos           SP
204          259.0                   12940     atibaia           SP
344          232.0                   16301   penapolis           SP

top 3 outsiders with smallest turnover in category auto:
     product_category_name_english                         seller_id  \
440                          auto  b0398568231ba5e6734af1881671a317
277                          auto  455c5640e8c5bd1b2ee85c0158f85727
362                          auto  7c1fea10b5b006671d608b1d7c446ec4

     order_item_id  seller_zip_code_prefix seller_city seller_state
440            1.0                   29704    colatina           ES
277            1.0                   89128  luiz alves           SC
362            1.0                   18550     boituva           SP

#### 3. which products sell best in each category

In [104]:
all_categories = sales_areas_df['product_category_name_english'].unique()
all_categories = all_categories.astype(str)
all_categories = np.sort(all_categories)
for el in all_categories:
    print(el)

agro_industry_and_commerce
air_conditioning
art
arts_and_craftmanship
audio
auto
baby
bed_bath_table
books_general_interest
books_imported
books_technical
cds_dvds_musicals
christmas_supplies
cine_photo
computers
computers_accessories
consoles_games
construction_tools_construction
construction_tools_lights
construction_tools_safety
cool_stuff
costruction_tools_garden
costruction_tools_tools
diapers_and_hygiene
drinks
dvds_blu_ray
electronics
fashio_female_clothing
fashion_bags_accessories
fashion_childrens_clothes
fashion_male_clothing
fashion_shoes
fashion_sport
fashion_underwear_beach
fixed_telephony
flowers
food
food_drink
furniture_bedroom
furniture_decor
furniture_living_room
furniture_mattress_and_upholstery
garden_tools
health_beauty
home_appliances
home_appliances_2
home_comfort_2
home_confort
home_construction
housewares
industry_commerce_and_business
kitchen_dining_laundry_garden_furniture
la_cuisine
luggage_accessories
market_place
music
musical_instruments
nan
office_furniture
party_supplies
perfumery
pet_shop
security_and_services
signaling_and_security
small_appliances
small_appliances_home_oven_and_coffee
sports_leisure
stationery
tablets_printing_image
telephony
toys
watches_gifts

In [111]:
# parameters

## select time period for products sale
## if year parameters are 0 whole data frame will be used
start_day = 1
start_month = 1
start_year = 0
end_day = 1
end_month = 1
end_year = 0

# select categories you want to see best products in
# you can select one category as a string or many as a list
# if other type will be provided you will see leaders and outsiders for all categories
category = None

In [135]:
def print_data(data, category):
    if len(data) > 0:
        sold = round(data.sort_values(by='sold_items', ascending=False)['sold_items'].values[0], 0)
        data = data.loc[data['sold_items'] == sold]
        
        if len(data) > 1:
            print(f'best-selling products in category {category} (sold {sold}): \n', data['product_id'].values)
            # possible to print every seller that sold the same amount of item if number of such sellers is bigger than top parameter
        else:
            print(f'best-selling product in category {category} (sold {sold}): \n', data['product_id'].values)
    else:
        print(f'no product sold in category {category}')

In [136]:
data = dfs['orders'].merge(dfs['order_items'], on = 'order_id', how = 'left')
data = data.merge(dfs['products'], on = 'product_id', how = 'left')

if start_year !=0 and end_year !=0:
    products_df = get_turnover(data, start_day, start_month, start_year, end_day, end_month, end_year)
else:
    products_df = data

best_products = products_df.groupby('product_id')['order_item_id'].sum().reset_index()
best_products.rename(columns={'order_item_id': 'sold_items'}, inplace=True)
best_products = best_products.merge(dfs['products'], on = 'product_id', how = 'left')

if isinstance(category, list):
    for el in category:
        prod_data = best_products.loc[best_products['product_category_name_english'] == el]
        print_data(prod_data, el)
elif isinstance(category, str):
        prod_data = best_products.loc[best_products['product_category_name_english'] == category]
        print_data(prod_data, category)
else:
    for el in all_categories:
        prod_data = best_products.loc[best_products['product_category_name_english'] == el]
        print_data(prod_data, el)

best-selling product in category agro_industry_and_commerce (sold 23.0):
 ['11250b0d4b709fee92441c5f34122aed']
best-selling product in category air_conditioning (sold 30.0):
 ['f2a1b32f85cad59ff2a8444154ac25f0']
best-selling product in category art (sold 111.0):
 ['4fe644d766c7566dbc46fb851363cb3b']
best-selling product in category arts_and_craftmanship (sold 5.0):
 ['b9976e9c22fb1540bd71d1bcd2989475']
best-selling product in category audio (sold 49.0):
 ['db5efde3ad0cc579b130d71c4b2db522']
best-selling product in category auto (sold 210.0):
 ['9571759451b1d780ee7c15012ea109d4']
best-selling product in category baby (sold 95.0):
 ['cac9e5692471a0700418aa3400b9b2b1']
best-selling product in category bed_bath_table (sold 542.0):
 ['99a4788cb24856965c36a24e339b6058']
best-selling product in category books_general_interest (sold 61.0):
 ['f35927953ed82e19d06ad3aac2f06353']
best-selling product in category books_imported (sold 9.0):
 ['68ad45d48d69404aeb71ce87e1b2c948']
best-selling product in category books_technical (sold 44.0):
 ['173e9fe34bfe97f3a5e6dc57fe897b74']
best-selling product in category cds_dvds_musicals (sold 16.0):
 ['1dceebcc5f23c02ea23e16d5bedca000']
best-selling product in category christmas_supplies (sold 24.0):
 ['f3ccdb9f9c7f31e0efd626e9110b85f5']
best-selling product in category cine_photo (sold 13.0):
 ['e988092a8afe5d9393a5c3a7ca17691c']
best-selling product in category computers (sold 35.0):
 ['d6160fb7873f184099d9bc95e30376af']
best-selling product in category computers_accessories (sold 369.0):
 ['d1c427060a0f73f6b889a5c7c61f2ac4']
best-selling product in category consoles_games (sold 154.0):
 ['0aabfb375647d9738ad0f7b4ea3653b1']
best-selling product in category construction_tools_construction (sold 46.0):
 ['7564c1759c04fc0a38f2aa84f7a370ee']
best-selling product in category construction_tools_lights (sold 69.0):
 ['216bb0e0cd43ffd832e0973d35e0377e']
best-selling products in category construction_tools_safety (sold 29.0):
 ['56c221c4c1a4a98293895c4563cdc6bf' '82c51c3938503a4ddc096fbed86428d6']
best-selling product in category cool_stuff (sold 122.0):
 ['601a360bd2a916ecef0e88de72a6531a']
best-selling product in category costruction_tools_garden (sold 24.0):
 ['71a7800a633691de8ecdd17463335e2e']
best-selling product in category costruction_tools_tools (sold 18.0):
 ['5e53af05c040b01584b81b3549945faf']
best-selling product in category diapers_and_hygiene (sold 40.0):
 ['3fdb534dccf5bc9ab0406944b913787d']
best-selling product in category drinks (sold 104.0):
 ['cd48f265a63e13b762601f5f794c5fca']
best-selling product in category dvds_blu_ray (sold 7.0):
 ['d55d2479e56093f23ebcf313ceb3bcfe']
best-selling product in category electronics (sold 108.0):
 ['7ce94ab189134e2d3c05f496d635419c']
best-selling product in category fashio_female_clothing (sold 18.0):
 ['63cf4d771cba1d380af927afe5895d4b']
best-selling product in category fashion_bags_accessories (sold 144.0):
 ['d017a2151d543a9885604dc62a3d9dcc']
best-selling product in category fashion_childrens_clothes (sold 3.0):
 ['57bdf3098169cccdb62221bd3e089cbd']
best-selling product in category fashion_male_clothing (sold 14.0):
 ['e336c656869480e20d04ca9389b12167']
best-selling product in category fashion_shoes (sold 15.0):
 ['ac5e164e2eda939ffa46593f90077f9a']
best-selling product in category fashion_sport (sold 11.0):
 ['e8f7d2639ff8caa8b86e5973295898b7']
best-selling product in category fashion_underwear_beach (sold 18.0):
 ['fa8485bc54eaad5b218cd8081c859568']
best-selling product in category fixed_telephony (sold 36.0):
 ['5769ef0a239114ac3a854af00df129e4']
best-selling product in category flowers (sold 10.0):
 ['7620a27f1d6747511f1c6f0ddb63c0ef']
best-selling product in category food (sold 124.0):
 ['89321f94e35fc6d7903d36f74e351d40']
best-selling product in category food_drink (sold 34.0):
 ['ec96b7b4e1401281edb9465d0d689cae']
best-selling product in category furniture_bedroom (sold 16.0):
 ['4f18ca9862f511ecba98258b2194d061']
best-selling product in category furniture_decor (sold 640.0):
 ['aca2eb7d00ea1a7b8ebd4e68314663af']
best-selling product in category furniture_living_room (sold 68.0):
 ['58efb9b638561ce132216a9a612513e2']
best-selling product in category furniture_mattress_and_upholstery (sold 22.0):
 ['726b4e18f00255e2e63491bcba3f60b8']
best-selling product in category garden_tools (sold 793.0):
 ['422879e10f46682990de24d770e7f83d']
best-selling product in category health_beauty (sold 300.0):
 ['154e7e31ebfa092203795c972e5804a6']
best-selling product in category home_appliances (sold 38.0):
 ['be837f2e0152a208d4386f4126d5bd7c']
best-selling product in category home_appliances_2 (sold 13.0):
 ['f27aff266ad97e75d4a24c893b2c311e']
best-selling product in category home_comfort_2 (sold 35.0):
 ['ec5b3c8bb77ad22278f6e9d719a83de3']
best-selling product in category home_confort (sold 198.0):
 ['35afc973633aaeb6b877ff57b2793310']
best-selling product in category home_construction (sold 37.0):
 ['a39cc58c1b5926b6f9f378daa89f1315']
best-selling product in category housewares (sold 209.0):
 ['42a2c92a0979a949ca4ea89ec5c7b934']
best-selling product in category industry_commerce_and_business (sold 50.0):
 ['593236d0ff46b4299b4787fb8d43f7f0']
best-selling product in category kitchen_dining_laundry_garden_furniture (sold 31.0):
 ['c075b8e131353552218860f1c421e4ef']
best-selling product in category la_cuisine (sold 4.0):
 ['33900d427fa4bd3f509cdacda72e84a3']
best-selling product in category luggage_accessories (sold 71.0):
 ['f71973c922ccaab05514a36a8bc741b8']
best-selling product in category market_place (sold 33.0):
 ['cf1d8e226162a1d0ad61f29b7ed72d82']
best-selling products in category music (sold 4.0):
 ['4befae07dba4384f6d8237ad1e7f8294' 'd655dc03de9b831ed22639631ab2958f']
best-selling product in category musical_instruments (sold 23.0):
 ['738da8ddda2e593acfdc53c2d1520dfa']
no product sold in category nan
best-selling product in category office_furniture (sold 122.0):
 ['3eef0cb94ba82de806bb30ab743c7655']
best-selling product in category party_supplies (sold 11.0):
 ['4a7056788ce9287c76ade358f2e2572a']
best-selling product in category perfumery (sold 145.0):
 ['2028bf1b01cafb2d2b1901fca4083222']
best-selling product in category pet_shop (sold 57.0):
 ['e1da6ab77f4859eb17950e5df1c0f815']
best-selling products in category security_and_services (sold 1.0):
 ['6c7a0a349ad11817745e3ad58abd5c79' '8db75af9aed3315374db44d7860e25da']
best-selling products in category signaling_and_security (sold 21.0):
 ['5d3b065e160c51e883cd7ef509a54176' 'bc3c6d2a621414f2e1df7a8a32a2828e']
best-selling products in category small_appliances (sold 28.0):
 ['79366d6a24de9351b7ca6e3cf75a68ec' 'd2bea3c01e172037caa99b2d138f39d0']
best-selling product in category small_appliances_home_oven_and_coffee (sold 19.0):
 ['f49e985b4cb2d0543890d6dd00077663']
best-selling products in category sports_leisure (sold 114.0):
 ['c6336fa91fbd87c359e44f5dca5a90ed' 'd3c044bd42d84a79e3b0c42662806a48']
best-selling product in category stationery (sold 89.0):
 ['fb55982be901439613a95940feefd9ee']
best-selling product in category tablets_printing_image (sold 35.0):
 ['6bbe55cf8f85c87b6eebb775a53402f4']
best-selling product in category telephony (sold 162.0):
 ['e7cc48a9daff5436f63d3aad9426f28b']
best-selling product in category toys (sold 106.0):
 ['880be32f4db1d9f6e2bec38fb6ac23ab']
best-selling product in category watches_gifts (sold 367.0):
 ['a62e25e09e05e6faf31d90c6ec1aa3d1']

#### 4. the dependence of product weight on turnover and price.

In [ ]:
# parameters

## select time period for products sale
## if year parameters are 0 whole data frame will be used
start_day = 1
start_month = 1
start_year = 0
end_day = 1
end_month = 1
end_year = 0

In [ ]:
task_4 = dfs['orders'].merge(dfs['order_items'], on = 'order_id', how = 'inner')

if start_year !=0 and end_year !=0:
    task_4 = get_turnover(turnover, start_day, start_month, start_year, end_day, end_month, end_year)
else:
    pass

task_4['tunover'] = task_4['price']*task4['order_item_id'] + task_4['freight_value']*task_4['order_item_id']
task_4 = task_4.groupby('product_id').agg({'turnover': 'sum', 'price': 'mean', 'freight_value': 'mean'}).reset_index()
task_4 = task_4.merge(dfs['products'], on = 'product_id', how = 'left')

In [4]:
dfs['sellers'].head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP