In [2]:
import pandas as pd

path = 'OneDrive_1_14/S_Data/'
endpoint = '.csv'

csvs = ['customers', 
        'geolocation', 
        'order_items', 
        'order_payments', 
        'order_reviews', 
        'orders', 
        'product_category_name_translation',
        'products',
        'sellers']
dfs = {}

for name in csvs:
    print(name.upper(),'\n\n')
    dfs[name] = pd.read_csv(path+name+endpoint)

CUSTOMERS


GEOLOCATION


ORDER_ITEMS


ORDER_PAYMENTS


ORDER_REVIEWS


ORDERS


PRODUCT_CATEGORY_NAME_TRANSLATION


PRODUCTS


SELLERS

# Task 1

### To do

#### get reviews in function same as other values in other df then merge dfs

##### (done) english name, 
##### (done) average delivery time, 
##### (done) average delivery time from last 14 days,
##### (done) average product price,
##### (done) actual product price,
##### (done) sales from last 14 days, 
##### (done) total sale per seller from 14 days, 
##### reviews since products sale started, 
##### number of reviews added in 14 days, 
##### average fracht_val in past 14 days

### Code

#### 1. English name

In [158]:
dfs['products'].head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [ ]:
dfs['product_category_name_translation'].head()

In [159]:
## get english category name

dfs['products'] = dfs['products'].merge(dfs['product_category_name_translation'],
                                        how = 'inner',
                                        on = 'product_category_name')

#### 2. Add missing delivery dates, get necessary date for subset

In [ ]:
dfs['orders'].head()

In [ ]:
dfs['orders']['order_status'].unique()

In [160]:
## get only valid orders
dfs['orders'] = dfs['orders'].loc[(dfs['orders']['order_status'] != 'canceled') & 
                                  (dfs['orders']['order_status'] != 'unavailable')]

In [168]:
print(dfs['orders'].isna().sum())

order_id                           0
order_item_id                      8
product_id                         8
seller_id                          8
shipping_limit_date                8
price                              8
freight_value                      8
customer_id                        0
order_status                       0
order_purchase_timestamp           0
order_approved_at                 20
order_delivered_carrier_date     728
order_delivered_customer_date      0
order_estimated_delivery_date      0
dtype: int64

In [3]:
print(dfs['orders'].dtypes,
      '\n', 
      dfs['order_reviews'].dtypes)

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object
 review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [163]:
## merge dataframes for product id, price, number of ordered items, reviews
dfs['orders'] = dfs['order_items'].merge(dfs['orders'], on = 'order_id', how = 'right')
dfs['orders'] = dfs['orders'].merge(dfs['order_reviews'], on='order_id', how ='left')

In [167]:
dfs['orders']['order_purchase_timestamp'] = pd.to_datetime(dfs['orders']['order_purchase_timestamp'])
dfs['orders']['order_delivered_customer_date'] = pd.to_datetime(dfs['orders']['order_delivered_customer_date'])
dfs['orders']['review_creation_date'] = pd.to_datetime(dfs['orders']['review_creation_date'])

## fill nan values after grouping by product id so values are more reliable
dfs['orders'].sort_values(by='product_id', inplace=True)
dfs['orders']['order_delivered_customer_date'].ffill(inplace=True)

/var/folders/bz/m_9l75x14kz_37vfj8r34b2r0000gn/T/ipykernel_10790/134249484.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfs['orders']['order_delivered_customer_date'].ffill(inplace=True)

In [169]:
## get order date, review date, delivery date and delivery time

dfs['orders']['purchase_year'] = dfs['orders']['order_purchase_timestamp'].dt.year
dfs['orders']['purchase_day'] = dfs['orders']['order_purchase_timestamp'].dt.dayofyear

dfs['orders']['review_year'] = dfs['orders']['review_creation_date'].dt.year
dfs['orders']['review_day'] = dfs['orders']['review_creation_date'].dt.dayofyear


dfs['orders']['delivery_year'] = dfs['orders']['order_delivered_customer_date'].dt.year
dfs['orders']['delivery_day'] = dfs['orders']['order_delivered_customer_date'].dt.dayofyear

## calculate delivery time (check if delivery and purchase were made in same year)
dfs['orders']['delivery_time'] = ((dfs['orders']['delivery_year'] - dfs['orders']['purchase_year'])*365 + 
                                 dfs['orders']['delivery_day'] - dfs['orders']['delivery_day'])

## if delivery and purchase years were different check if purchase year was leap
for index, row in dfs['orders'].iterrows():
    if row['purchase_year'] != row['delivery_year']:
        if row['purchase_year']%4 ==0 and row['purchase_year']%100 == 0 and row['purchase_year']%400 == 0:
            dfs['orders'].at[index, 'delivery_time'] += 1

#### 3.

In [170]:
## get data from 14 days
def is_leap(year):
    if year%4 == 0 and year%100 == 0 and year%400 == 0:
        return True
    else:
        return False

In [171]:
## get end of subset (check if it ends in following year)
def get_end(year, day_s, sub_size):
    
    if is_leap(year):
        if day_s > 366 - sub_size:
            day_e = 366 - day_s
            year_e = year + 1
        else:
            day_e = day_s + sub_size
            year_e = year
    else:
        if day_s > 365 - sub_size:
            day_e = 365 - day_s
            year_e = year + 1
        else:
            day_e = day_s + sub_size
            year_e = year
    return day_s, year

In [178]:
def subset_14(dfs, year, day_s, sub_size):
    ##calculate end of subset
    day_e, year_e = get_end(year, day_s, sub_size)

    ## income from product per order
    dfs['orders']['incomes'] = dfs['orders']['order_item_id']*dfs['orders']['price']
    
    ## orders till start date
    orders_bef = dfs['orders'].loc[(dfs['orders']['purchase_year'] == year) & 
                                   (dfs['orders']['purchase_day'] <= day_s)]
    ## orders from start date to end date
    orders_act = dfs['orders'].loc[(dfs['orders']['purchase_year'] == year) & 
                                   (dfs['orders']['purchase_day'] >= day_s) & 
                                   (dfs['orders']['purchase_day'] <= day_e)]
    
## each dataframe consists 
##    mean values: delivery time, price and freight value
##    sum values: incomes and number of ordered items

    ## df with orders before start day
    df_bef = orders_bef.groupby('product_id').agg({'delivery_time': 'mean', 
                                                   'price': 'mean', 
                                                   'order_item_id': 'sum', 
                                                   'incomes': 'sum',
                                                   'freight_value': 'mean'})
    ## df with orders from start date to end date
    df_act = orders_act.groupby('product_id').agg({'delivery_time': 'mean', 
                                                   'price': 'mean', 
                                                   'order_item_id': 'sum', 
                                                   'incomes': 'sum',
                                                   'freight_value': 'mean'})
                                
## same information collected for each seller

    ## df with orders before start day
    df_bef_per_seller = orders_bef.groupby(['product_id', 'seller_id']).agg({'delivery_time': 'mean', 
                                                                             'price': 'mean', 
                                                                             'order_item_id': 'sum',
                                                                             'incomes': 'sum',
                                                                             'freight_value': 'mean'})
    ## df with orders before start day
    df_act_per_seller = orders_act.groupby(['product_id', 'seller_id']).agg({'delivery_time': 'mean', 
                                                                             'price': 'mean', 
                                                                             'order_item_id': 'sum',
                                                                             'incomes': 'sum',
                                                                             'freight_value': 'mean'})
    
        
    print(df_bef.head(10))

In [180]:
subset_14(dfs, year_start, day_start+30, subset_size)

product_id
062619359d5f9a664606cb2a6ccb477a    0.0
0c5801458e74f9b6c23b44c331426e30    0.0
0f3c8906e5b08127d539956bc587074c    0.0
107177bf61755f05c604fe57e02467d6    0.0
201ec8e4fb8456dd06265be68eb419a7    0.0
2235d08138bfce7801a73463a3168ea5    0.0
27051f70cfcbd63fec388f34e1f0d2a2    0.0
29bedbfbe73ea473396306b4f0c010ec    0.0
33430c5c1027d812b5c62f778e5ee7f7    0.0
3410cbd7df2130ec3cb9300ef0fe3df1    0.0
Name: delivery_time, dtype: float64

In [5]:
dfs['order_items'].head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [100]:
year_start = dfs['orders'].sort_values(by='purchase_year')['purchase_year'].values[0]
day_start =  dfs['orders'].sort_values(by=['purchase_year', 'purchase_day'])['purchase_day'].values[0]

year_end =  dfs['orders'].sort_values(by='purchase_year', ascending = False)['purchase_year'].values[0]
day_end =  dfs['orders'].sort_values(by=['purchase_year', 'purchase_day'], 
                                     ascending = [False, False])['purchase_day'].values[0]

subset_size = 14

start = True
## go through all years and days, start parameter let start from proper day
for year in range(year_start, year_end +1):
    for day in range(0, 365):
        if start:
            day = day_start
            start = False
            pass
        else:
            if (day >= day_end)&(year>=year_end):
                break
            else:
                df = subset_14(dfs, year, day, subset_size)

                day = day + subset_size
        break
    break
print("end")

end

In [81]:
print(day_start)

248